.main-text {
    color: mediumvioletred;
    background-color: aquamarine;
    text-shadow: 3px 3px 1px black;
    /* Первое значение пикселей задаёт горизонтальное смещение тени от текста — как далеко она движется поперёк: отрицательное значение должно двигать её влево.
   Второе значение пикселей задаёт вертикальное смещение тени от текста — как далеко она движется вниз, в этом примере: отрицательное значение должно переместить её вверх.
   Третье значение пикселей задаёт радиус размытия тени — большее значение будет означать более размытую тень.
   Четвёртое значение задаёт основной цвет тени. */
    width: 100%;
    border: 3px solid black;
    font-size: 60px;
    text-align: center;
}

html {
    font-size: 20px; /* размер шрифта на странице будет 50 пикселей  */
    background-color: darksalmon; /* цвет фона сайта*/
}


.cite {
    color: navy; /* Цвет текста */
    margin-left: 20px; /* Отступ слева */
    border-left: 3px solid navy; /* Граница слева от текста */
    padding-left: 15px; /* Расстояние от линии до текста */
}

.words {
    color: darkslateblue;
    background-color: lightgrey;
}